*.iml
.idea/
.DS_Store

android/.DS_Store
android/android.iml
android/gradlew
android/gradlew.bat
android/local.properties

ios/.DS_Store
ios/RCTInstabug.xcodeproj/project.xcworkspace/
ios/RCTInstabug.xcodeproj/xcuserdata/

.travis
.travis.yml

build/

